{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="centeredmaincontent">
        <img id="hmlogo" src="/static/kisspng-vector-graphics-book-stock-illustration-logo-research-vector-book-transparent-amp-png-clipart-5cce8c440022e9.3914588515570401960006.png">
        <h1>Welcome to the hub of bookworms!</h1>
        <h3>To read reviews of people and share yours, join our community.</h3>
        <h1 id="joinbutton"><a href="/register" class="badge badge-warning">Join Us</a></h1>
    </div>
{% endblock %}