<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>BookHub: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/kisspng-vector-graphics-book-stock-illustration-logo-research-vector-book-transparent-amp-png-clipart-5cce8c440022e9.3914588515570401960006.png" type="image/x-icon" />
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-xl navbar-light bg-light">
        <a href="/"><img id="navbarlogo" src="/static/kisspng-vector-graphics-book-stock-illustration-logo-research-vector-book-transparent-amp-png-clipart-5cce8c440022e9.3914588515570401960006.png"></a>
        <a id="navbarlogotext" class="navbar-brand" href="/">BOOKHUB</a>
        <ul class="navbar-nav mr-auto">
            {% if session.user_id %}
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            {% endif %}
        </ul>
        <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
            <select required id="searchby" name="searchby">
                <option hidden disabled selected value="">Search by</option>
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
            </select>
            <input required class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>